
.topnav {
    overflow: hidden;
    background-color:orange;
    position: fixed;;
    padding-top: 20px;
    width:100%;
    height: auto;
    margin-bottom: 10px;
   
    
    
  }
  .tony{
      float: center;
      display: inline-flex;
      margin-left: 20px;

  }
  .topnav a {
    float: left;
    color: darkblue;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    margin-left: 10%;
    display:block;
  }
  .topnav a:hover {
    background-color: white;
    color: black;
  }
.container a{
    margin: 15px;
}
img{
    width:100%;
    margin-top: 6px; 
}
p{
    color: white;
    
}
.top2{
    color: white;
    font-size:30px;
    margin-left:14%;
}
h1{
    font-size:120px;
    color:darkblue;
    padding-top: 4%;
}
h2{
    font-size:80px;
    color: darkblue;
    margin-left:23%;
    
}
h3{
    font-size:50px;
    color: darkblue;
    margin-left:38%;
}

.container a:hover {
    background-color: #ddd;
    color: black;
  }
h4{
    font-size:50px;
    color:darkblue;
    margin-left:14%;
    
}
.active2 {
    padding-right:250px;
    padding-left: 150px;
    margin-top:4%;
    margin-left:20%;
    width:40%;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.both{
    font-size:50px;
    color: darkblue;
    margin-left:23%;
}
body{
    background-color: transparent;
    width: 100%;
    overflow-x: hidden;
    margin: 0px;
}
.sam{
    margin-left: 1px;
}
.active{
    padding-right:0px;
    margin-top:4%;
    margin-left:20%;
    width:50%;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.portion2{
    margin-top:2%;
    margin-left:0%;
    font-size:25px;
    color:white;
    font-family: 'Cabin', sans-serif;
    font-family: 'Russo One', sans-serif;
}
span{
    color:white;
}
.portion{
    margin-left:15%;
    justify-content: space-evenly;
}
.tony p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color:white;
}
.about p{
    font-size:25px;
    color:black;
    font-family: 'Rokkitt', serif;
    margin-left:14%;
}
.active{
    font-size:25px;
    color:black;
    font-family: 'Rokkitt', serif;
    margin-left:30%;
}
.nav{
    font-size:25px;
    color:darkblue;
    font-family: 'Rokkitt', serif;
    margin-left:33%;
}
footer{
    background-color:orange;
    height: 100%;
    margin-bottom: 0px;
    padding-bottom: 40px;
    width: 100%;
    padding-right: 60px;
}
li{
    text-align: center;
    display: inline-block;
    margin-right:100px;
    list-style: none;
    color: gray;
    font-size: 25px;
    
}
footer a:hover{
    background-color: white;
    
    
   }

